/* HORIZONTAL */

@media all and (orientation: landscape)
{
	/* GENERAL */

    /* 8K */
    @media only screen and (min-width: 7680px)
    {
    }

    /* UHD */
    @media only screen and (min-width: 3840px) and (max-width: 7679)
    {
    }

    /* QHD */
    @media only screen and (min-width: 2560px) and (max-width: 3839)
    {
    }

    /* FHD */
    @media only screen and (min-width: 1920px) and (max-width: 2559)
    {
    }

    /* HD */
    @media only screen and (min-width: 1280px) and (max-width: 1919)
    {
    }

    /* OTRA */
    @media only screen and (max-width: 1279)
    {
    }
}





/* VERTICAL */

@media all and (orientation: portrait)
{
	/* GENERAL */

    /* 8K */
    @media only screen and (min-width: 4320px)
    {
    }

    /* UHD */
    @media only screen and (min-width: 2160px) and (max-width: 4319)
    {
    }

    /* QHD */
    @media only screen and (min-width: 1440px) and (max-width: 2159)
    {
    }

    /* FHD */
    @media only screen and (min-width: 1080px) and (max-width: 1439)
    {
    }

    /* HD */
    @media only screen and (min-width: 720px) and (max-width: 1079)
    {
    }

    /* OTRA */
    @media only screen and (max-width: 719px)
    {
    }
}





/******************************************
    Version: 1.0
/****************************************** */

@media (min-width: 768px) and (max-width: 991px) {
	#mainNav {
		background-color: #333333;
	}
	.navbar-dark .navbar-brand{
		width: 55%;
	}
	.navbar-dark .navbar-nav .nav-link::after{
		display: none;
	}
	.navbar-dark .navbar-toggler{
		color: rgba(255,255,255);
		border-color: rgba(255,255,255);
	}
	.heading h1{
		font-size: 28px;
	}
	.heading p{
		font-size: 14px;
	}
	.cd-headline.clip span{
		font-size: 20px;
	}
	.section-title h3{
		font-size: 28px;
	}
	.section-title p{
		font-size: 14px;
	}
	#clouds{
		margin-top: -35%;
	}
	.message-box{
		margin-bottom: 30px;
	}
	.filter-button-group button{
		padding: 12px 27px;
	}
	.filter-button-group{
		text-align: center !important;
	}
	.post-box{
		margin-bottom: 30px;
	}
	.footer-distributed .footer-left{
		text-align: center;
	}
}
@media (max-width: 767px) {
	#mainNav {
		background-color: #333333;
	}
	.navbar-dark .navbar-brand{
		width: 55%;
	}
	.navbar-dark .navbar-nav .nav-link::after{
		display: none;
	}
	.navbar-dark .navbar-toggler{
		color: rgba(255,255,255);
		border-color: rgba(255,255,255);
	}
	.heading h1{
		font-size: 28px;
	}
	.heading p{
		font-size: 14px;
	}
	.cd-headline.clip span{
		font-size: 20px;
	}
	.section-title h3{
		font-size: 28px;
	}
	.section-title p{
		font-size: 14px;
	}
	#clouds{
		margin-top: -35%;
	}
	.message-box{
		margin-bottom: 30px;
	}
	.filter-button-group button{
		padding: 12px 27px;
	}
	.filter-button-group{
		text-align: center !important;
	}
	.post-box{
		margin-bottom: 30px;
	}
	.footer-distributed .footer-left{
		text-align: center;
	}
}
@media only screen and (min-width: 280px) and (max-width: 599px) {
	#mainNav {
		background-color: #333333;
	}
	.navbar-dark .navbar-brand{
		width: 55%;
	}
	.navbar-dark .navbar-nav .nav-link::after{
		display: none;
	}
	.navbar-dark .navbar-toggler{
		color: rgba(255,255,255);
		border-color: rgba(255,255,255);
	}
	.heading h1{
		font-size: 28px;
	}
	.heading p{
		font-size: 14px;
	}
	.cd-headline.clip span{
		font-size: 20px;
	}
	.section-title h3{
		font-size: 28px;
	}
	.section-title p{
		font-size: 14px;
	}
	#clouds{
		margin-top: -35%;
	}
	.message-box{
		margin-bottom: 30px;
	}
	.filter-button-group button{
		padding: 12px 27px;
	}
	.filter-button-group{
		text-align: center !important;
	}
	.post-box{
		margin-bottom: 30px;
	}
	.footer-distributed .footer-left{
		text-align: center;
	}
	
}